table, th, td {
	border: 1px solid red;
	text-align: center;
}

th {
	background-color: blue;
	color: white;
}

table {
	border-collapse: collapse;
	position: relative;
	background-color: yellow;
	color: silver;
	align-self: center;
}

h1 {
	text-align: center;
}

body {
	background-color: green;
}

h1 {
	color: purple;
	text-shadow: 2px 1px pink;
	text-decoration: underline
}
ul {
	list-style-type: none; 
}

#tr-style {
	background-color: yellow;
	color: silver;
}
#bilder {
	border-: 2px blue;
}