table, th, td {
	border: 1px solid red;
	text-align: center;
}

th {
	background-color: blue;
	color: white;
}

table {
	border-collapse: collapse;
	position: relative;
	background-color: yellow;
	color: silver;
	align-self: center;
}

h1 {
	text-align: center;
}

body {
	background-color: green;
}

h1 {
	color: purple;
	text-shadow: 2px 1px pink;
	text-decoration: underline
}
ul {
	list-style-type: none; 
}

#tr-style {
	background-color: yellow;
	color: silver;
}
#bilder {
	border-: 2px blue;
}

input {
	background-color: orange;
	color: white;
}
.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 90px solid blue;
	border-right: 90px solid yellow;
	border-bottom: 90px solid red;
	border-left: 90px solid pink;
	width: 300px;
	height: 300px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 0.3s linear infinite;
}

/*@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}*/

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}